# IDE folders
.vscode/
.idea/
.run/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Node.js files (Prettier)
/node_modules
# Published files
/min
data.json
index.min.json
