body {
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.tab-button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-button:hover {
    background-color: #555;
}

.tab-content {
    display: none;
    margin-top: 20px;
}

.tab-content.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.manga-item {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.manga-item img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.manga-item p {
    margin-top: 10px;
    font-size: 0.9em;
}

/* Modal styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#file-input {
    margin: 10px 0;
}

#use-demo-data {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#use-demo-data:hover {
    background-color: #555;
}
