:root {
  --manga-header-bg: 'url()';
}

body {
  margin: 0;
  background-color: #1d1d1d;
  padding: 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  margin: auto;
  width: 90%;
  overflow: auto; /* Enable scrolling within the container */
}

.settings-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.tabs {
  display: flex;
  flex-wrap: wrap; /* Expand vertically instead of horizontally and off-screen */
  justify-content: space-evenly; /* Distribute tabs across the width */
  gap: 20px;
  margin-top: 20px;
  white-space: nowrap; /* Prevent line break for tabs */
}

.tab-button {
  display: flex;
  position: relative;
  justify-content: center; /* Align items horizontally centered */
  align-items: center; /* Align items vertically centered */
  transition:
    color 0.3s,
    background-color 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
}

.tab-button:hover {
  color: #1666a6;
}

.tab-button.active {
  background-color: #333;
  color: white;
}

.tab-button.active::after {
  display: block;
  position: absolute;
  bottom: -10px;
  border-radius: 2px;
  background-color: #124875;
  width: 60%;
  height: 4px;
  content: '';
}

.tab-button .badge {
  position: static; /* Position it next to the text */
  margin-left: 8px;
  border-radius: 10px;
  background-color: #124875;
  padding: 2px 6px;
  color: white;
  font-size: 12px;
}

.tab-content {
  display: none;
  margin-top: 20px;
}

.tab-content.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.manga-item {
  margin: 10px;
  width: 150px;
  text-align: center;
}

.manga-item img,
#manga-thumbnail {
  box-sizing: content-box;
  border-radius: 5px;
  background-image: url('nocover.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 225px;
  object-fit: cover;
  object-position: center;
}

.manga-item p {
  margin-top: 10px;
  font-size: 0.9em;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal.active {
  display: flex;
}

.modal-content {
  position: relative;
  border-radius: 5px;
  background-color: #333;
  padding: 20px;
  max-width: 80%;
  max-height: calc(100% - 120px);
  overflow-y: auto;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  border-radius: 100%;
  background-color: #555;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  line-height: 30px;
}

#file-input {
  margin: 10px 0;
}

#use-demo-data {
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  background-color: #444;
  padding: 10px 20px;
  color: white;
}

#use-demo-data:hover {
  background-color: #555;
}

.modal-content img {
  width: 150px;
  height: 225px;
}

.manga-header {
  display: flex;
  position: relative;
  align-items: flex-start;
  background: var(--manga-header-bg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.manga-header::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 1) 90%);
  width: 100%;
  height: 100%;
  content: '';
}

.manga-meta {
  position: relative;
  z-index: 2;
  text-align: justify;
}

.manga-body {
  display: inline;
  margin-top: 20px;
}

.material-symbols-outlined {
  margin-right: 15px;
  font-size: 18px;
}

#manga-author, #manga-artist {
  display: flex;
  align-items: center;
  margin: 3px;
  margin-left: 0px;
  font-size: 15px;
}

#manga-chapters {
  margin-top: 20px;
}

#manga-title {
  margin-bottom: 8px;
}

.status-source {
  display: flex;
  margin-top: 8px;
  margin-bottom: 32px;
  align-items: center;
}

#manga-source {
  margin-top: 0px;
  margin-left: 5px;
  font-size: 13px;
}

#manga-status {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-right: 5px;
  font-size: 13px;
}

#manga-thumbnail {
  position: relative;
  z-index: 2;
  margin-right: 30px;
  border-radius: 5px;
}

#manga-description {
  text-align: justify;
}

#manga-description-div {
  position: relative;
  transition: max-height 0.2s linear;
  max-height: 3.6em;
  overflow: hidden;
}

#manga-description {
  margin-bottom: 1.8em;
}

.fade-out {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background: linear-gradient(transparent, rgba(51, 51, 51, 1));
  height: 1.8em;
  user-select: none;
}

#description-expand-icon {
  transition: transform 0.2s linear;
  margin: 0px;
  font-size: 2.7em;
}

#manga-genres, #manga-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 0px;
  text-align: left;
}

#manga-genres li {
  display: inline;
  border: 1px solid;
  border-radius: 5px;
  background: #222;
  padding: 6px;
  font-size: 11pt;
  line-height: 1.75;
  list-style-type: none;
}

#manga-categories li {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  padding: 6px;
  font-size: 8pt;
  line-height: 1.5;
  list-style-type: none;
  cursor: pointer;
}

#manga-categories .material-symbols-outlined {
  margin-right: 10px;
}

.chapter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #444;
  padding: 10px;
  width: calc(100% - 20px);
}

.chapter-box a {
  color: white;
  text-decoration: none;
}

.chapter-box a:hover {
  text-decoration: underline;
}

.chapter-date {
  color: darkseagreen;
}

.chapter-box a.read {
  color: #808080;
}

[hidden] {
  display: none !important;
}

/* Scrollbar styles */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #cacaca;
  border-radius: 8px;
  background-color: #e7e7e7;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

/* Switch styles */
.switch {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: 0.4s;
  border-radius: 50%;
  background-color: white;
  width: 12px;
  height: 12px;
  content: '';
}

input:checked + .slider {
  background-color: #124875;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

label {
  display: block;
  margin-top: 20px;
}

label.switch {
  display: inline-block;
  margin-left: 10px;
}

#apply-settings {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  background-color: #444;
  padding: 10px 20px;
  color: white;
}

#apply-settings:hover {
  background-color: #555;
}

/**/

.settings-inline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px; /* Space between each setting */
}

.settings-inline label {
  margin-right: 30px; /* Space between label and input */
  white-space: nowrap;
}

.settings-inline select {
  margin: 20px auto 0px 5px; /* Additional space for better alignment */
  width: 100%;
}
