.sy-only {
  display: none;
}

.edit-input {
  background-color: #222630;
  padding: 12px 16px; /* equivalent to py-3 px-4 */
  outline: none;
  width: 280px;
  color: white;
  border-radius: 0.5rem; /* equivalent to rounded-lg */
  border: 2px solid #2B3040;
  transition: border-color 0.1s;
}

.edit-input:focus {
  border-color: #596A95;
}
