/* ---Load Modal--- */
#load-modal h2 {
  padding-top: 0.5em;
}
#upload-area {
  border: 2px dashed #fff;
  border-radius: 10px;
  cursor: pointer;
  left: calc(50% - 150px);
  margin-top: 10px;
  position: relative;
  text-align: center;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  width: 300px;
}
#upload-area.dragover {
  background-color: #555;
}
#upload-area input[type='file'] {
  display: none;
}
